<div class="grid-row ctitles h-reveal-bass">
  <div class="grid-unit-1of5" id="clist1">
    <span>Property Address</span>
  </div>
  <div class="grid-unit-1of5" id="clist2">
    <span>Square FT</span>
  </div>
  <div class="grid-unit-1of5" id="clist3">
    <span>Sale Price</span>
  </div>
  <div class="grid-unit-1of5" id="clist4">
    <span>Lease Rate / Type</span>
  </div>
  <div class="grid-unit-1of5" id="clist5">
    <span>More Info</span>
  </div>
</div>                                                