
<div class="l-wrapper">
  <h3 class="h-type-center h-space-mbs">Saved Properties</h3>      
  <div class="l-sidebar-border inflate-tenor-baritone h-space-pvm">   
    <div class="sidebar-body l-grid-border">
      <p></p>
      <div class="l-grid inflate-baritone-bass listing">        
        <% if @properties.nil? || @properties == [] %>
          <div class='no-results'>You don't have any saved properties.</div>
        <% else %>
          <% @properties.each do |saved_property| %>
            <% next if saved_property.nil? || saved_property.property.nil? %>
            <% p = saved_property.property %>
            <% ptype = p.url.split('/')[1] %>            
            <%= render :partial => "caboose_rets/#{ptype}/table_row", :locals => { :p => p } %>          
          <% end %>          
        <% end %>
      </div>
    </div> <!-- .sidebar-body -->
  </div> <!-- .l-sidebar -->
</div> <!-- .l-wrapper -->

<% content_for :caboose_js do %>
<script style="text/javascript">

</script>
<% end %>

