<div class="body-sink"></div>

<div class="l-wrapper">
	<div class="l-section">
		<h1 class="h-type-center h-space-mbs"><%= raw @post[:title] %></h1>
		<% if @post.image %>
		  <figure class="h-type-center"><img src="<%= @post.image.url(:large) %>"></figure>
		<% end %>		
		<article class="h-space-mvm"><%= raw @post[:body] %></article>
		<footer class="section-foot"><%= raw Caboose::Setting.value_for('footer_text') %></footer>
	</div> <!-- .l-section -->
</div> <!-- .l-wrapper -->
