
<h1>New Open House</h1>
<p><input type='text' id='mls'        name='mls'        placeholder='Property MLS#' style="width: 400px;" /></p>
<p>Open House on <input type='text' id='date_time'  name='date_time'  placeholder='Date and Time' style="width: 400px;" /> at [address]</p>
<div id='message'></div>
<p><input type='submit' value='Add Post' onclick='add_open_house();' /></p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

function add_open_house()
{
  $('#message').html("<p class='loading'>Adding post...</p>");
  $.ajax({
    url: '/admin/open-houses',
    type: 'post',
    data: {
      authenticity_token: "<%= form_authenticity_token %>",
      mls: $('#mls').val(),
      date_time: $('#date_time').val()
    },
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect
    }
  });
}

</script>
<% end %>
