<%= raw @crumbtrail.print({
  '/admin' => 'Admin',
  '/admin/properties' => 'Properties'  
}) %>

<h1>Properties</h1>

<p><a class="caboose-btn" href='/admin/rets/import'>Import new property from MLS</a></p>

<div id='properties'></div>

<br /><br />

<% content_for :caboose_css do %>
<style>
 #properties_new  { display: none; }
 #properties_message {
  display: block;
  min-height: 87px;
  margin-bottom: 0 !important;
 }
 #properties_message p {
  margin: 10px 0 0 0;
 }
 #properties_table_container {
  margin-top: 10px;
 }
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<script type='text/javascript'>

function get_address(prop) {
  return prop.street_number + " " + prop.street_name + " " + prop.street_suffix;
}

$(document).ready(function() {
  var that = this;
  var table = new IndexTable({    
    form_authenticity_token: '<%= form_authenticity_token %>',
    container: 'properties',
    base_url: '/admin/properties',
    allow_bulk_edit: false,
    allow_bulk_delete: false,
    allow_duplicate: false,
    allow_advanced_edit: true,
    allow_bulk_import: false,
    no_models_text: "No matching properties were found.",
    fields: [
      { show: true  , editable: false, bulk_edit: false, name: 'mls_number'        , nice_name: 'MLS #'        , sort: 'mls_number'        , type: 'text'   , value: function(r) { return r.mls_number    }, width: 200 },
      { show: true  , editable: false, bulk_edit: false, name: 'street_name'        , nice_name: 'Address'        , sort: 'street_name'        , type: 'text'   , value: function(r) { return get_address(r) }, width: 200 },
      { show: true  , editable: false, bulk_edit: false, name: 'city'        , nice_name: 'City'        , sort: 'city'        , type: 'text'   , value: function(r) { return r.city    }, width: 200 },
      { show: true  , editable: false, bulk_edit: false, name: 'state_or_province'        , nice_name: 'State'        , sort: 'state_or_province'        , type: 'text'   , value: function(r) { return r.state_or_province    }, width: 200 },
      { show: true  , editable: false, bulk_edit: false, name: 'postal_code'        , nice_name: 'ZIP'        , sort: 'postal_code'        , type: 'text'   , value: function(r) { return r.postal_code    }, width: 200 }
    ],
    search_fields: [                                                           
      { name: 'mls_number'      , nice_name: 'MLS Number'  , type: 'text'  }
    ]
  });
});
$(window).load(function() {
  setTimeout(function(){ $("#properties_toggle_search").trigger("click"); }, 500);
});
</script>
<% end %>