<%= raw @crumbtrail.print({
  '/admin' => 'Admin',
  '/admin/agents' => 'Agents'  
}) %>

<h1>Agent</h1>

<% if @logged_in_user && @logged_in_user.is_allowed('add', 'agent') %>
  <a href="/admin/agents/edit-sort" class="caboose-btn">Edit Sort Order</a>
<% end %>


<div id='agents'></div>

<br /><br />


<% content_for :caboose_css do %>
<style>
 #agents_new  { display: none; }
</style>
<% end %>


<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<script type='text/javascript'>

$(document).ready(function() {
  var that = this;
  var table = new IndexTable({    
    form_authenticity_token: '<%= form_authenticity_token %>',
    container: 'agents',
    base_url: '/admin/agents',
    allow_bulk_edit: false,
    allow_bulk_delete: false,
    allow_duplicate: false,
    allow_advanced_edit: true,
    allow_bulk_import: false,
    no_models_text: "You do not have access to edit any agent profiles.",
    fields: [
      { show: true  , editable: false, bulk_edit: false, name: 'first_name'        , nice_name: 'First Name'        , sort: 'first_name'        , type: 'text'   , value: function(r) { return r.first_name    }, width: 200 },
      { show: true  , editable: false, bulk_edit: false, name: 'last_name'        , nice_name: 'Last Name'        , sort: 'last_name'        , type: 'text'   , value: function(r) { return r.last_name    }, width: 200 },
      { show: true  , editable: true, bulk_edit: true, name: 'hide'        , nice_name: 'Hide'        , sort: 'hide'        , type: 'checkbox'   , text: function(r) { return r.meta && r.meta.hide ? 'Yes' : 'No'   }, value: function(r) { return r.meta && r.meta.hide ? true : false   }, width: 200 },
      { show: false  , editable: true, bulk_edit: false, name: 'slug'        , nice_name: 'Slug'        , sort: 'slug'        , type: 'text'   ,  value: function(r) { return r.slug  }, width: 200 },
      { show: true  , editable: false, bulk_edit: false, name: 'mls_id'        , nice_name: 'MLS ID'        , sort: 'mls_id'        , type: 'text'   , value: function(r) { return r.mls_id    }, width: 200 }
    ],
    new_model_text: 'New Agent',
    new_model_fields: [
      { name: 'first_name', nice_name: 'First Name', type: 'text', width: 400 },
      { name: 'last_name', nice_name: 'Last Name', type: 'text', width: 400 }
    ],
    search_fields: [                                                           
      { name: 'first_name_like'      , nice_name: 'First Name'  , type: 'text'  },
      { name: 'last_name_like'      , nice_name: 'Last Name'  , type: 'text'  }
    ]
  });
});
</script>
<% end %>