<div class="constrain richtext" style="text-align:center;font-size:18px;padding-top:50px;padding-bottom:50px;">
	<h4>Are you sure you want to unsubscribe?</h4>
	<p>By unsubscribing, you will no longer receive email updates for saved properties or suggested listings.</p>
	<p><a style="margin-top:20px;display:inline-block;" href="/rets-unsubscribe/confirm?token=<%= @token %>">Yes, unsubscribe from all property updates and suggested listings.</a></p>
</div> 