<h1>Import Property from MLS</h1>

<form action='/admin/rets/import' method='post' id='import_form' onsubmit="import_property(); return false;">
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
<p><input type='text' name='mls' id='mls' placeholder='MLS Number' value="" style='width: 300px;' /></p>
<div id='message'></div>
<p><input type='submit' value='Import Property' /></p>
</form>

<% content_for :caboose_js do %>
<script type='text/javascript'>

function import_property()
{
  $('#message').html("<p class='loading'>Importing property from MLS...</p>");
  $.ajax({
    url: '/admin/rets/import',
    type: 'post',
    data: $('#import_form').serialize(),
    success: function(resp) {
      if (resp.error)   $('#message').html("<p class='note error'>"   + resp.error   + "</p>");
      if (resp.success) $('#message').html("<p class='note success'>" + resp.success + "</p>");          
    }
  });
}

</script>
<% end %>